@use '../variables' as *;

.progress-container {
  display: flex;
  align-items: center;
}

.progress-divider {
  width: 0.125rem;
  height: 4.375rem;
  background-color: $color-light-gray;
  margin: 0 3.688rem 0 4.938rem;
}

.circular-progress-container {
  width: 5.625rem;
  height: 5.625rem;
  padding: 0.63rem 0.625rem 0.75rem 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circular-progress {
  position: absolute;
  border: solid 5px #307bbe;
  border-left-color: #e8e8e8;
  border-radius: 50%;
  width: 4.25rem;
  height: 4.25rem;
  border-style: solid;
  border-width: 5px;
  transform: rotate(45deg);
}

.percent-complete {
  font-size: 2rem;
  color: $color-dark;
}

.completed {
  font-size: 00.875rem;
  opacity: 0.5;
  color: $color-dark;
}
